In [1]:
%%bash
pip install git+https://github.com/Tokukawa/PortfolioAnalyzer.git

In [2]:
from portfolio_analyzer.stocks_data_loader import yahoo2pandas
from portfolio_analyzer.optimizers import approximated_max_kelly, minimal_variance, risk_parity

In [3]:
tickers = ['VTI', 'TLT', 'GLD']
data = yahoo2pandas(tickers)

In [4]:
data.head()

                      GLD        TLT        VTI
formatted_date
2004-11-15      44.779999  88.260002  56.974998
2004-11-22      45.290001  88.250000  57.700001
2004-11-29      45.599998  87.440002  58.174999
2004-12-06      43.439999  88.849998  58.000000
2004-12-13      44.189999  88.750000  58.599998

In [5]:
minimal_variance(data)

        GLD       TLT       VTI
0  0.151986  0.497355  0.350658

In [6]:
risk_parity(data)

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 1.30192250307e-14
            Iterations: 23
            Function evaluations: 115
            Gradient evaluations: 23

        GLD       TLT       VTI
0  0.243994  0.420059  0.335947

In [7]:
approximated_max_kelly(data)

        GLD       TLT      VTI
0  0.253029  0.368061  0.37891